
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 5px;
  font-size: 20px;
  text-align: left;
}
.random-image {
  width: 300px;
  height: 300px;
}
.button-header {
  margin: '0.3em'
}