
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 5px;
  font-size: 20px;
  text-align: left;
}


 .btn-reset:active, .btn-reset:checked {
  background-color: #343a40;
  border-color: #343a40; /*set the color you want here*/
}